{%include 'main/top.html'%}

<body>
        
        <div id="preloader"></div>
        <div class="main-wrapper">
                {% include 'main/header.html'%}
                
                <!-- sections of contents to be here -->
                <section class="page-title-section bg-img cover-background top-position1 secondary-overlay" data-overlay-dark="8" data-background="/static/main/img/bg/bg15.jpg">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1>Contact Us</h1>
                                </div>
                                <div class="col-md-12">
                                    <ul class="ps-0">
                                        <li><a href="/">Home</a></li>
                                        <li>Contact Us</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="bg-light">
                        <div class="container">
                            <div class="row g-0">
                                <div class="col-lg-7">
                                    <div class="p-2-2 p-lg-2-9 box-shadow-style1 h-100">
                                        <h2 class="lh-1 mb-4">Get In Touch With Rovid Smart Technology</h2>
                                        <form class="contact quform" action="" method="post" enctype="multipart/form-data" onclick="">
                                            <div class="quform-elements">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="quform-element form-group">
                                                            <label for="name">Your Name <span class="quform-required">*</span></label>
                                                            <div class="quform-input">
                                                                <input class="form-control" id="name" type="text" name="name" placeholder="Your name here" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="quform-element form-group">
                                                            <label for="email">Your Email <span class="quform-required">*</span></label>
                                                            <div class="quform-input">
                                                                <input class="form-control" id="email" type="text" name="email" placeholder="Your email here" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="quform-element form-group">
                                                            <label for="subject">Subject of Inquiry <span class="quform-required">*</span></label>
                                                            <div class="quform-input">
                                                                <input class="form-control" id="subject" type="text" name="subject" placeholder="e.g., Service Inquiry, Support" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="quform-element form-group">
                                                            <label for="phone">Contact Number</label>
                                                            <div class="quform-input">
                                                                <input class="form-control" id="phone" type="text" name="phone" placeholder="Your phone number here" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="quform-element form-group">
                                                            <label for="message">Message <span class="quform-required">*</span></label>
                                                            <div class="quform-input">
                                                                <textarea class="form-control" id="message" name="message" rows="3" placeholder="Tell us about your project or inquiry"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="quform-element">
                                                            <div class="form-group">
                                                                <div class="quform-input">
                                                                    <input class="form-control" id="type_the_word" type="text" name="type_the_word" placeholder="Type the below word" />
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="quform-captcha">
                                                                    <div class="quform-captcha-inner">
                                                                        <img src="/static/main/quform/images/captcha/courier-new-light.png" alt="Captcha Image">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="quform-submit-inner">
                                                            <button class="butn border-0 primary" type="submit"><span>Send Message</span></button>
                                                        </div>
                                                        <div class="quform-loading-wrap text-start"><span class="quform-loading"></span></div>
                                                    </div>
                                                    </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-lg-5 bg-img cover-background secondary-overlay" data-overlay-dark="8" data-background="/statitc/main/img/content/contact-01.jpg">
                                    <div class="p-1-9 p-lg-2-9 position-relative z-index-1 h-100">
                                        <h2 class="lh-1 mb-3 text-white">Our Contact Details</h2>
                                        <p class="mb-2-2 text-white display-sm-28">Reach out to us for smart technology solutions and consultations.</p>
                                        <div class="d-flex mb-4 pb-3 border-bottom border-color-light-white">
                                            <div class="flex-shrink-0 mt-2">
                                                <i class="fas fa-phone-alt text-primary fs-2"></i>
                                            </div>
                                            <div class="flex-grow-1 ms-4">
                                                <h3 class="h5 text-white">Phone Numbers</h3>
                                                <span class="text-white d-block mb-1">+233 24 199 5223</span>
                                                <span class="text-white">+233 50 132 9225</span>
                                            </div>
                                        </div>
                                        <div class="d-flex mb-4 pb-3 border-bottom border-color-light-white">
                                            <div class="flex-shrink-0 mt-2">
                                                <i class="far fa-envelope-open text-primary fs-2"></i>
                                            </div>
                                            <div class="flex-grow-1 ms-4">
                                                <h3 class="h5 text-white">Email Addresses</h3>
                                                <span class="text-white d-block mb-1">info@rovidgh.com</span>
                                                <span class="text-white">support@rovidgh.com</span>
                                            </div>
                                        </div>
                                        <div class="d-flex mb-4 pb-3 border-bottom border-color-light-white">
                                            <div class="flex-shrink-0 mt-2">
                                                <i class="fas fa-map-marker-alt text-primary fs-2"></i>
                                            </div>
                                            <div class="flex-grow-1 ms-4">
                                                <h3 class="h5 text-white">Location</h3>
                                                <address class="text-white d-block mb-0 w-md-80 w-xl-70">
                                                    Takoradi, Western Region, Ghana
                                                    <br> [Specific Street Address/Landmark - if applicable]
                                                </address>
                                            </div>
                                        </div>
                                        <ul class="list-unstyled d-flex mb-0">
                                            <li class="me-4">
                                                <a href="https://www.facebook.com/rovidgh" target="_blank" class="text-white text-primary-hover display-28"><i class="fab fa-facebook-f"></i></a>
                                            </li>
                                            <li class="me-4">
                                                <a href="https://www.instagram.com/rovidgh" target="_blank" class="text-white text-primary-hover display-28"><i class="fab fa-instagram"></i></a>
                                            </li>
                                            <li class="me-4">
                                                <a href="https://twitter.com/rovidgh" target="_blank" class="text-white text-primary-hover display-28"><i class="fa-brands fa-x-twitter"></i></a>
                                            </li>
                                            <li class="me-0">
                                                <a href="https://www.linkedin.com/company/rovidgh" target="_blank" class="text-white text-primary-hover display-28"><i class="fab fa-linkedin-in"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                <!-- FOOTER ================================================== -->
                {%include 'main/footer.html'%}
        {% include 'main/end.html'%}
</body>

</html>