
<footer class="footer-style13 bg-secondary pt-8 pt-xxl-12">
    <div class="container">
        <div class="row mb-1-9 mb-6 mb-xxl-10 mt-n1-9">
            <div class="col-md-6 col-xl-3 mt-1-9">
                <h4 class="text-primary mb-1-6 mb-lg-2-2">Contact Info</h4>
                <div class="d-flex contact-icon mb-1-9">
                    <div class="icon">
                        <i class="fa-regular fa-envelope display-24 text-primary me-3"></i>
                    </div>
                    <div>
                        <h4 class="text-white font-weight-600 mb-1">Email</h4>
                        <a class="text-white text-primary-hover"
                            href="mailto:info@rovidgh.com">info@rovidgh.com</a>
                    </div>
                </div>
                <div class="d-flex contact-icon">
                    <div class="icon">
                        <i class="fa-solid fa-phone-volume display-24 text-primary me-3"></i>
                    </div>
                    <div>
                        <h4 class="text-white font-weight-600 mb-1">Phone</h4>
                        <a class="text-white text-primary-hover" href="tel:+233|247913462">+233 247 913 462</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3 mt-1-9">
                <div class="ps-xl-10">
                    <h4 class="text-primary mb-1-6 mb-lg-2-2">Quick Links</h4>
                    <ul class="list-unstyled mb-0">
                        <li class="mb-3"><a class="text-white text-primary-hover" href="/about/">About Us</a></li>
                        <li class="mb-3"><a class="text-white text-primary-hover" href="/services/">Services</a></li>
                        <li class="mb-3"><a class="text-white text-primary-hover" href="/projects/">Projects</a>
                        </li>
                        <li class="mb-3"><a class="text-white text-primary-hover" href="/blog/">Blog</a></li>
                        <li><a class="text-white text-primary-hover" href="/contact/">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-xl-3 mt-1-9">
                <div class="ps-xl-4">
                    <h4 class="text-primary mb-1-6 mb-lg-2-2">Services</h4>
                    <ul class="list-unstyled mb-0 list-style-19">
                        <li><a class="text-white text-primary-hover" href="/smart-home-integration/">Smart Home
                                Integration</a></li>
                        <li><a class="text-white text-primary-hover" href="/security-surveillance/">Security &
                                Surveillance</a></li>
                        <li><a class="text-white text-primary-hover" href="/energy-management/">Energy Management</a>
                        </li>
                        <li><a class="text-white text-primary-hover" href="/lighting-control/">Smart Lighting</a>
                        </li>
                        <li><a class="text-white text-primary-hover" href="/automated-blinds/">Automated Blinds</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-xl-3 mt-1-9">
                <h4 class="text-primary mb-1-6 mb-lg-2-2">Newsletter</h4>
                <p class="text-white mb-1-9">Stay updated with our latest smart home innovations and news.</p>
                <form action="" class="newsletter-style01 quform" enctype="multipart/form-data"
                    method="post" onclick="">
                    <div class="quform-elements position-relative">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="quform-element mb-0">
                                    <div class="quform-input">
                                        <input class="form-control" id="email_address" name="email_address"
                                            placeholder="Subscribe with us" type="text">
                                        </input>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="quform-submit-inner w-auto">
                                    <button class="butn-style6 border-0" type="submit"><span class="alt-font"><i
                                                class="fa-solid fa-arrow-right text-white"></i></span></button>
                                </div>
                                <div class="quform-loading-wrap"><span class="quform-loading"></span>
                                </div>
                            </div>
                            </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="py-4 border-top border-color-light-white">
            <div class="container p-0">
                <div class="row mt-n1-9 align-items-center">
                    <div class="col-lg-7 col-xl-6 wow fadeIn mt-1-9">
                        <div class="text-center text-lg-start">
                            <p class="mb-0">© <span class="current-year">2025</span> Rovid Smart. All Rights Reserved.
                                Powered by <a class="text-primary text-white-hover" href="/#!">Rovid Smart Tech</a></p>
                        </div>
                    </div>
                    <div class="col-lg-5 col-xl-6 mt-1-9">
                        <div class="social-icon-style12 text-center text-lg-end">
                            <ul class="ps-0 mb-0">
                                <li><a href="/#!"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li><a href="/#!"><i class="fa-brands fa-x-twitter"></i></a>
                                </li>
                                <li><a href="/#!"><i class="fab fa-instagram"></i></a>
                                </li>
                                <li><a href="/#!"><i class="fab fa-youtube"></i></a>
                                </li>
                                <li class="mb-0 me-0"><a href="linkedin.com/company/rovidgh"><i class="fab fa-linkedin-in"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</div>

<div class="wlt-sidebar-main" id="wlt-sidebar-main">

<div class="wlt-bottom-button">
    <a class="wlt-link" href="mailto:info@rovidgh.com" target="_blank">Any Query or Support? Please
        feel free to contact us at - info@rovidgh.com</a>
</div>
</div>
