{%include 'main/top.html'%}

<body>
        
        <div id="preloader"></div>
        <div class="main-wrapper">
                {% include 'main/header.html'%}
                
                <!-- sections of contents to be here -->
                <section class="page-title-section bg-img cover-background top-position1 secondary-overlay" data-overlay-dark="8" data-background="/static/main/img/bg/bg15.jpg">
                        <div class="container">
                    
                            <div class="row">
                                <div class="col-md-12">
                                    <h1>Our Projects & Portfolio</h1>
                                </div>
                                <div class="col-md-12">
                                    <ul class="ps-0">
                                        <li><a href="/">Home</a></li>
                                        <li>Projects</li>
                                    </ul>
                                </div>
                            </div>
                    
                        </div>
                    </section>
                    
                    <section>
                        <div class="container">
                            <div class="row">
                                <div class="filtering col-sm-12 text-center">
                                    <span data-filter='*' class="active">All</span>
                                    <span data-filter='.smart-infra'>Smart Infrastructure</span>
                                    <span data-filter='.automation'>Automation</span>
                                    <span data-filter='.software-dev'>Software Development</span>
                                    <span data-filter='.creative-media'>Creative Media</span>
                                </div>
                            </div>
                            <div class="row portfolio-gallery-isotope">
                                <div class="col-md-6 col-lg-4 mt-4 selected" data-src="/static/main/img/portfolio/portfolio-59.jpg" data-sub-html="<h4 class='text-white'>Commercial BMS Installation</h4><p>Building Management Systems</p>">
                                    <div class="card card-style24 border-0">
                                        <div class="img-hover">
                                            <img src="/static/main/img/portfolio/portfolio-59.jpg" alt="...">
                                        </div>
                                        <div class="overlay"></div>
                                        <div class="card-body p-0">
                                            <div class="project-text" data-text="BMS"></div>
                                            <div class="project-content">
                                                <h5 class="mb-0 text-uppercase"><a href="project-detail.html" class="portfolio-link">Building Management Systems</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 mt-4 digital" data-src="/static/main/img/portfolio/portfolio-60.jpg" data-sub-html="<h4 class='text-white'>CCTV & Security Solutions</h4><p>Surveillance</p>">
                                    <div class="card card-style24 border-0">
                                        <div class="img-hover">
                                            <img src="/static/main/img/portfolio/portfolio-60.jpg" alt="...">
                                        </div>
                                        <div class="overlay"></div>
                                        <div class="card-body p-0">
                                            <div class="project-text" data-text="CCTV"></div>
                                            <div class="project-content">
                                                <h5 class="mb-0 text-uppercase"><a href="project-detail.html" class="portfolio-link">Advanced CCTV & Security</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 mt-4 branding" data-src="/static/main/img/portfolio/portfolio-61.jpg" data-sub-html="<h4 class='text-white'>Solar Energy Installations</h4><p>Renewable</p>">
                                    <div class="card card-style24 border-0">
                                        <div class="img-hover">
                                            <img src="/static/main/img/portfolio/portfolio-61.jpg" alt="...">
                                        </div>
                                        <div class="overlay"></div>
                                        <div class="card-body p-0">
                                            <div class="project-text" data-text="Solar"></div>
                                            <div class="project-content">
                                                <h5 class="mb-0 text-uppercase"><a href="project-detail.html" class="portfolio-link">Sustainable Solar Solutions</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 mt-4 web" data-src="/static/main/img/portfolio/portfolio-62.jpg" data-sub-html="<h4 class='text-white'>Automated Gate Systems</h4><p>Access</p>">
                                    <div class="card card-style24 border-0">
                                        <div class="img-hover">
                                            <img src="/static/main/img/portfolio/portfolio-62.jpg" alt="...">
                                        </div>
                                        <div class="overlay"></div>
                                        <div class="card-body p-0">
                                            <div class="project-text" data-text="Gates"></div>
                                            <div class="project-content">
                                                <h5 class="mb-0 text-uppercase"><a href="project-detail.html" class="portfolio-link">Intelligent Automatic Gates</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 mt-4 selected" data-src="/static/main/img/portfolio/portfolio-63.jpg" data-sub-html="<h4 class='text-white'>Web Application Development</h4><p>Digital</p>">
                                    <div class="card card-style24 border-0">
                                        <div class="img-hover">
                                            <img src="/static/main/img/portfolio/portfolio-63.jpg" alt="...">
                                        </div>
                                        <div class="overlay"></div>
                                        <div class="card-body p-0">
                                            <div class="project-text" data-text="Web Dev"></div>
                                            <div class="project-content">
                                                <h5 class="mb-0 text-uppercase"><a href="project-detail.html" class="portfolio-link">Custom Web Applications</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 mt-4 digital" data-src="/static/main/img/portfolio/portfolio-64.jpg" data-sub-html="<h4 class='text-white'>Mobile App Development</h4><p>Software</p>">
                                    <div class="card card-style24 border-0">
                                        <div class="img-hover">
                                            <img src="/static/main/img/portfolio/portfolio-64.jpg" alt="...">
                                        </div>
                                        <div class="overlay"></div>
                                        <div class="card-body p-0">
                                            <div class="project-text" data-text="Mobile App"></div>
                                            <div class="project-content">
                                                <h5 class="mb-0 text-uppercase"><a href="project-detail.html" class="portfolio-link">Innovative Mobile Apps</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 mt-4 branding" data-src="/static/main/img/portfolio/portfolio-65.jpg" data-sub-html="<h4 class='text-white'>Industrial Automation Solutions</h4><p>Control</p>">
                                    <div class="card card-style24 border-0">
                                        <div class="img-hover">
                                            <img src="/static/main/img/portfolio/portfolio-65.jpg" alt="...">
                                        </div>
                                        <div class="overlay"></div>
                                        <div class="card-body p-0">
                                            <div class="project-text" data-text="Automation"></div>
                                            <div class="project-content">
                                                <h5 class="mb-0 text-uppercase"><a href="project-detail.html" class="portfolio-link">Precision Industrial Automation</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 mt-4 web" data-src="/static/main/img/portfolio/portfolio-66.jpg" data-sub-html="<h4 class='text-white'>Electrical Installation & Wiring</h4><p>Infrastructure</p>">
                                    <div class="card card-style24 border-0">
                                        <div class="img-hover">
                                            <img src="/static/main/img/portfolio/portfolio-66.jpg" alt="...">
                                        </div>
                                        <div class="overlay"></div>
                                        <div class="card-body p-0">
                                            <div class="project-text" data-text="Electrical"></div>
                                            <div class="project-content">
                                                <h5 class="mb-0 text-uppercase"><a href="project-detail.html" class="portfolio-link">Certified Electrical Installations</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 mt-4 selected" data-src="/static/main/img/portfolio/portfolio-67.jpg" data-sub-html="<h4 class='text-white'>Graphic Design & Branding</h4><p>Creative</p>">
                                    <div class="card card-style24 border-0">
                                        <div class="img-hover">
                                            <img src="/static/main/img/portfolio/portfolio-67.jpg" alt="...">
                                        </div>
                                        <div class="overlay"></div>
                                        <div class="card-body p-0">
                                            <div class="project-text" data-text="Graphic"></div>
                                            <div class="project-content">
                                                <h5 class="mb-0 text-uppercase"><a href="project-detail.html" class="portfolio-link">Dynamic Graphic Design</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                <!-- FOOTER ================================================== -->
                {%include 'main/footer.html'%}
                {% include 'main/end.html'%}
</body>

</html>