{%include 'main/top.html'%}

<body>
        
        <div id="preloader"></div>
        <div class="main-wrapper">
                {% include 'main/header.html'%}
                
                <!-- sections of contents to be here -->
                <section class="page-title-section bg-img cover-background top-position1 secondary-overlay" data-overlay-dark="8" data-background="img/bg/bg15.jpg">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1>Our Projects & Portfolio</h1>
                                </div>
                                <div class="col-md-12">
                                    <ul class="ps-0">
                                        <li><a href="index.html">Home</a></li>
                                        <li>Projects</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="container">
                            <div class="row">
                                <div class="filtering col-sm-12 text-center">
                                    <span data-filter='*' class="active">All</span>
                                    <span data-filter='.smart-infra'>Smart Infrastructure</span>
                                    <span data-filter='.automation'>Automation</span>
                                    <span data-filter='.software-dev'>Software Development</span>
                                    <span data-filter='.creative-media'>Creative Media</span>
                                </div>
                            </div>
                            <div class="row portfolio-gallery-isotope">
                                <div class="col-md-6 col-lg-4 mt-4 smart-infra" data-src="img/portfolio/rovidgh-bms-project.jpg" data-sub-html="<h4 class='text-white'>Commercial BMS Installation</h4><p>Building Management Systems</p>">
                                    <div class="card card-style24 border-0">
                                        <div class="img-hover">
                                            <img src="img/portfolio/rovidgh-bms-project.jpg" alt="Commercial BMS Installation">
                                        </div>
                                        <div class="overlay"></div>
                                        <div class="card-body p-0">
                                            <div class="project-text" data-text="BMS"></div>
                                            <div class="project-content">
                                                <h5 class="mb-0 text-uppercase"><a href="project-detail.html" class="portfolio-link">Commercial BMS Integration</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 mt-4 smart-infra" data-src="img/portfolio/rovidgh-cctv-project.jpg" data-sub-html="<h4 class='text-white'>Advanced CCTV System</h4><p>Security Surveillance</p>">
                                    <div class="card card-style24 border-0">
                                        <div class="img-hover">
                                            <img src="img/portfolio/rovidgh-cctv-project.jpg" alt="Advanced CCTV System">
                                        </div>
                                        <div class="overlay"></div>
                                        <div class="card-body p-0">
                                            <div class="project-text" data-text="CCTV"></div>
                                            <div class="project-content">
                                                <h5 class="mb-0 text-uppercase"><a href="project-detail.html" class="portfolio-link">High-Definition CCTV Network</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 mt-4 smart-infra" data-src="img/portfolio/rovidgh-solar-project.jpg" data-sub-html="<h4 class='text-white'>Residential Solar Power</h4><p>Renewable Energy</p>">
                                    <div class="card card-style24 border-0">
                                        <div class="img-hover">
                                            <img src="img/portfolio/rovidgh-solar-project.jpg" alt="Residential Solar Power">
                                        </div>
                                        <div class="overlay"></div>
                                        <div class="card-body p-0">
                                            <div class="project-text" data-text="Solar"></div>
                                            <div class="project-content">
                                                <h5 class="mb-0 text-uppercase"><a href="project-detail.html" class="portfolio-link">Sustainable Solar Installation</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 mt-4 automation" data-src="img/portfolio/rovidgh-gate-project.jpg" data-sub-html="<h4 class='text-white'>Automated Gate System</h4><p>Access Control</p>">
                                    <div class="card card-style24 border-0">
                                        <div class="img-hover">
                                            <img src="img/portfolio/rovidgh-gate-project.jpg" alt="Automated Gate System">
                                        </div>
                                        <div class="overlay"></div>
                                        <div class="card-body p-0">
                                            <div class="project-text" data-text="Gates"></div>
                                            <div class="project-content">
                                                <h5 class="mb-0 text-uppercase"><a href="project-detail.html" class="portfolio-link">Smart Automatic Gate System</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 mt-4 software-dev" data-src="img/portfolio/rovidgh-webapp-project.jpg" data-sub-html="<h4 class='text-white'>Custom Web Application</h4><p>Software Development</p>">
                                    <div class="card card-style24 border-0">
                                        <div class="img-hover">
                                            <img src="img/portfolio/rovidgh-webapp-project.jpg" alt="Custom Web Application">
                                        </div>
                                        <div class="overlay"></div>
                                        <div class="card-body p-0">
                                            <div class="project-text" data-text="Web App"></div>
                                            <div class="project-content">
                                                <h5 class="mb-0 text-uppercase"><a href="project-detail.html" class="portfolio-link">Enterprise Web Solution</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 mt-4 automation" data-src="img/portfolio/rovidgh-industrial-project.jpg" data-sub-html="<h4 class='text-white'>Factory Automation Project</h4><p>Industrial Control</p>">
                                    <div class="card card-style24 border-0">
                                        <div class="img-hover">
                                            <img src="img/portfolio/rovidgh-industrial-project.jpg" alt="Factory Automation Project">
                                        </div>
                                        <div class="overlay"></div>
                                        <div class="card-body p-0">
                                            <div class="project-text" data-text="Industrial"></div>
                                            <div class="project-content">
                                                <h5 class="mb-0 text-uppercase"><a href="project-detail.html" class="portfolio-link">Advanced Industrial Automation</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 mt-4 creative-media" data-src="img/portfolio/rovidgh-graphic-project.jpg" data-sub-html="<h4 class='text-white'>Brand Identity Design</h4><p>Graphic Design</p>">
                                    <div class="card card-style24 border-0">
                                        <div class="img-hover">
                                            <img src="img/portfolio/rovidgh-graphic-project.jpg" alt="Brand Identity Design">
                                        </div>
                                        <div class="overlay"></div>
                                        <div class="card-body p-0">
                                            <div class="project-text" data-text="Design"></div>
                                            <div class="project-content">
                                                <h5 class="mb-0 text-uppercase"><a href="project-detail.html" class="portfolio-link">Creative Graphic Solutions</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 mt-4 smart-infra" data-src="img/portfolio/rovidgh-electrical-project.jpg" data-sub-html="<h4 class='text-white'>Commercial Electrical Wiring</h4><p>Electrical Installation</p>">
                                    <div class="card card-style24 border-0">
                                        <div class="img-hover">
                                            <img src="img/portfolio/rovidgh-electrical-project.jpg" alt="Commercial Electrical Wiring">
                                        </div>
                                        <div class="overlay"></div>
                                        <div class="card-body p-0">
                                            <div class="project-text" data-text="Electrical"></div>
                                            <div class="project-content">
                                                <h5 class="mb-0 text-uppercase"><a href="project-detail.html" class="portfolio-link">Reliable Electrical Systems</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 mt-4 creative-media" data-src="img/portfolio/rovidgh-3d-project.jpg" data-sub-html="<h4 class='text-white'>Architectural 3D Render</h4><p>3D Modeling</p>">
                                    <div class="card card-style24 border-0">
                                        <div class="img-hover">
                                            <img src="img/portfolio/rovidgh-3d-project.jpg" alt="Architectural 3D Render">
                                        </div>
                                        <div class="overlay"></div>
                                        <div class="card-body p-0">
                                            <div class="project-text" data-text="3D"></div>
                                            <div class="project-content">
                                                <h5 class="mb-0 text-uppercase"><a href="project-detail.html" class="portfolio-link">Immersive 3D Visualizations</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                <!-- FOOTER ================================================== -->
                {%include 'main/footer.html'%}
                {% include 'main/end.html'%}
</body>

</html>