{%include 'main/top.html'%}

<body>
        
        <div id="preloader"></div>
        <div class="main-wrapper">
                {% include 'main/header.html'%}
                
                <!-- sections of contents to be here -->


                










                <!-- FOOTER ================================================== -->
                {%include 'main/footer.html'%}
        <!-- SCROLL TO TOP  ================================================== -->
        <div class="scroll-top-percentage"><span id="scroll-value"></span></div>
        <!-- all js include start -->
        <!-- jQuery -->
        <script src="/static/main/js\jquery.min.js"></script>
        <!-- popper js -->
        <script src="/static/main/js\popper.min.js"></script>
        <!-- bootstrap -->
        <script src="/static/main/js\bootstrap.min.js"></script>
        <!-- scroll -->
        <script src="/static/main/js\jquery.scrollbar.min.js"></script>
        <!-- core.min.js -->
        <script src="/static/main/js\core.min.js"></script>
        <!-- search -->
        <script src="/static/main/search\search.js"></script>
        <!-- custom scripts -->
        <script src="/static/main/js\main.js"></script>
        <!-- form plugins js -->
        <script src="/static/main/quform\js\plugins.js"></script>
        <!-- form scripts js -->
        <script src="/static/main/quform\js\scripts.js"></script>
        <!-- all js include end -->
</body>

</html>