<!DOCTYPE html>

<html lang="en">

<head>
        <meta charset="utf-8" />
        <meta content="Gideon Kwofie - Rovid Smart Technology" name="author">
        <meta content="IE=edge" http-equiv="X-UA-Compatible" />
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
        <meta content="Rovid Smart Technology, BMS, CCTV installation, solar, automatic gates, web app development, mobile app development, desktop app development, industrial automation, electrical installation, smart metering, graphic design, video editing, 3D modeling, integrated solutions, smart systems, Ghana, Accra" name="keywords">
        <meta content="Rovid Smart Technology provides integrated intelligent and sustainable technology solutions in Accra, Ghana. Specializing in BMS, CCTV, solar, automation, custom software, electrical installations, smart metering, and creative digital services." name="description" />
        <title>{{page_title}}</title>
        <link href="/static/main/img\logos\favicon.png" rel="shortcut icon" />
        <link href="/static/main/img\logos\apple-touch-icon-57x57.png" rel="apple-touch-icon" />
        <link href="/static/main/img\logos\apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72" />
        <link href="/static/main/img\logos\apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114" />
        <link href="/static/main/css\plugins.css" rel="stylesheet" />
        <link href="/static/main/search\search.css" rel="stylesheet" />
        <link href="/static/main/quform\css\base.css" rel="stylesheet" />
        <link href="/static/main/css\scrollbar.css" rel="stylesheet" />
        <link href="/static/main/css\styles.css" rel="stylesheet" />
        </meta>
        </meta>
</head>